<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>unit-testing.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B6B728A2244EAA400A344E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6B729E2244EAA700A344E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B6B72A92244EAA700A344E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
